:root {
	--background-color: #e3e8ff;
	--dots-color: #fff;
}

body {
	background-color: var(--background-color);
}

.gallery {
	/* User transform:scale to resize the gallery (desktop screen) */
	transform: scale(1);
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 85%;
	margin: 0 auto;
}

.slider {
	display: flex;
	aspect-ratio: 16/9;
	overflow-x: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.dots {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.dots a {
	/* Use transform:scale to resize the dots navbar (desktop screen) */
	transform: scale(1);
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: var(--dots-color);
	opacity: 0.75;
	transition: opacity ease 250ms;
}

/* Animation: the dot will be clearer when mouse-hover */
.dots a:hover {
	opacity: 1;
}
/* Animation: the dot will be bigger when clicked */
.dots a:active {
	transform: scale(1.2);
}

/* Adaptive setting: just change the scale, ex: scale(2) */
/* mobile screen */
@media only screen and (max-width: 768px) {
	/* Gallery size */
	.gallery {
		transform: scale();
	}
	/* Dots navbar size */
	.dots {
		transform: scale();
	}
}
/* ipad screen */
@media only screen and (min-width: 769px) and (max-width: 1114px) {
	/* Gallery size */
	.gallery {
		transform: scale();
	}
	/* Dots navbar size */
	.dots {
		transform: scale();
	}
}
/* folding-mobile screen */
@media only screen and (max-width: 400px) {
	/* Gallery size */
	.gallery {
		transform: scale();
	}
	/* Dots navbar size */
	.dots {
		transform: scale();
	}
}
